services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - TZ=America/Sao_Paulo
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped
    networks:
      - n8n
  k8s-mcp:
    image: mcp/kubernetes:latest
    depends_on:
      - n8n
    networks:
      - n8n
    volumes:
      - /home/fabricioveronez/.kube:/home/appuser/.kube
    environment:
      ENABLE_UNSAFE_STREAMABLE_HTTP_TRANSPORT: 1
      PORT: 3001
      HOST: "0.0.0.0"
networks:
  n8n:
    name: n8n

volumes:
  n8n_data:
